<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.page.title}">Page Title</title>
    <!--/*/ <th:block th:include="fragments/common :: headfiles">
            </th:block> /*/-->
</head>
<body>
<div class="jumbotron" th:replace="fragments/header_jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{index.courses.headline}">Spring Framework Guru Courses</h1>
        </div>
    </div>

    <div class="row course-list list">
        <div class="col-md-6">
            <form action="#" th:action="@{/checkout}" method="post" th:object="${command}">
                <table>
                    <tr>
                        <td>First name</td>
                        <td><input type="text" value="Nazar" th:field="*{firstName}"></td>
                        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Errors</td>

                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td><input type="text" value="Sh" th:field="*{lastName}"></td>
                        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="has-error">LastName Errors</td>
                    </tr>
                    <tr>
                        <td>AddressLine1</td>
                        <td><input type="text" value="Addr1" th:field="*{addressLine1}"></td>
                        <td th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}" class="has-error">addressLine1 Errors</td>
                    </tr>
                    <tr>
                        <td>AddressLine2</td>
                        <td><input type="text" value="Addr2" th:field="*{addressLine2}"></td>
                        <td th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}" class="has-error">addressLine2 Errors</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" value="City K" th:field="*{city}"></td>
                        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="has-error">city Errors</td>
                    </tr>
                    <tr>
                        <td>State Code</td>
                        <td><input type="text" value="StateCode" th:field="*{stateCode}"></td>
                        <td th:if="${#fields.hasErrors('stateCode')}" th:errors="*{stateCode}" class="error has-error">stateCode Errors</td>
                    </tr>
                    <tr>
                        <td>Zip Code</td>
                        <td><input type="text" value="ZIP" th:field="*{zipCode}"></td>
                        <td th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="error has-error">zipCode Errors</td>
                    </tr>
                </table>
                <p>
                    <button class="btn" type="submit">Submit</button>
                </p>
            </form>

        </div>
    </div>


</div>
<div class="container" th:replace="fragments/footer :: my_footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2016 - Spring Framework Guru</p>
        </div>
    </div>
</div>
</body>
</html>
