<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.page.title}">Page Title</title>
    <!--/*/ <th:block th:include="fragments/common :: headfiles">
            </th:block> /*/-->

</head>
<body>
<div class="jumbotron" th:replace="fragments/header_jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container" style="height: 100vh;">
    <div class="row col-md-12">
            <h2>Thank for Your Order</h2>
    </div>



</body>
</html>
