<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Page Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>

    <link th:href="@{/css/custom.css}" href="../static/css/custom.css" rel="stylesheet" media="screen">

</head>
<body>
<div class="jumbotron" th:replace="fragments/header_jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 th:text="#{logout.success.message}">You are LOGGED out</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="#" th:href="@{/secured}" class="btn btn-primary">Secured page</a>
        </div>
    </div>
</div>
<div class="container" th:replace="fragments/footer :: my_footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2016 - Spring Framework Guru</p>
        </div>
    </div>
</div>
</body>
</html>
