<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{index.page.title}">Page Title</title>
    <!--/*/ <th:block th:include="fragments/common :: headfiles">
           </th:block> /*/-->
</head>
<body>
<div class="jumbotron" th:replace="fragments/header_jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 th:text="#{logout.success.message}">You are LOGGED out</h2>
            <p sec:authentication="name">Log out FRED</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="#" th:href="@{/secured}" class="btn btn-primary">Secured page</a>
        </div>
    </div>
</div>
<div class="container" th:replace="fragments/footer :: my_footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2016 - Spring Framework Guru</p>
        </div>
    </div>
</div>
</body>
</html>
