<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{index.page.title}">Page Title</title>
    <!--/*/ <th:block th:include="fragments/common :: headfiles">
         </th:block> /*/-->
</head>
<body>
<!--<div class="jumbotron" th:replace="fragments/header_jumbotron :: jumbotron">-->
<!--    <div class="container">-->
<!--        <h1>Spring Framework Guru</h1>-->
<!--        <p class="lead">Online Courses for Spring Framework</p>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-md-6 col-md-offset-3" style="color: lightgreen">
            <h2>User is Logged In</h2>
            Name
            <p sec:authentication="name">My Name</p>
            principal.username
            <p sec:authentication="principal.username">My Name</p>
            Password
            <p sec:authentication="principal.password">My Name</p>
            Credentials
            <p sec:authentication="credentials">My Credentials</p>
            Authorities
            <p sec:authentication="principal.authorities">My Authorities</p>
        </div>
    </div>
    <div class="row" sec:authorize="isAnonymous()">
        <div class="col-md-6 col-md-offset-3" style="color: red">
            <h2>User is Logged Out</h2>
        </div>
    </div>
    <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-md-6 col-md-offset-3">
            <h2>User has role ADMIN</h2>
        </div>
    </div>
    <div class="row" sec:authorize="hasRole('ROLE_USER')">
        <div class="col-md-6 col-md-offset-3">
            <h2>User has role USER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a sec:authorize="isAnonymous()" href="#" th:href="@{/login}" class="btn btn-primary"
               th:text="#{login.form.welcome}">Login</a>
            <a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}" class="btn btn-primary">Logout</a>
        </div>
    </div>


</div>

<div class="container" th:replace="fragments/footer :: my_footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2016 - Spring Framework Guru</p>
        </div>
    </div>
</div>
</body>
</html>
